# IDE
.idea/

#忽视的目录
target
demofilecache
/temp
/out
/data

#忽视类文件
*.class

#忽视各种压缩、打包文件
*.jar
*.war
*.zip
*.rar
*.tar.gz

# OS
.lock

# temp scripts
baidu_*.py
oss.py
2026/

!.gitignore
!okhttputils-2_6_2.jar
